h2 {
    padding: 25px 30px;
    font-size: 1em;
    color: var(--white);
    background: linear-gradient(to Right, #003B7B, #33B1DC);
}

.main {
    background-image: url(/_images/visual.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 30px 50px;
}


/* product */
.product__detail a {
    display: inline-block;
    color: var(--white);
    background-color: var(--primary-color);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid var(--primary-color);
    transition: 0.25s;
}

.product__detail a:hover {
    color: var(--primary-color);
    background-color: var(--white);
}

.product__img {
    width: 35%;
    padding: 20px;
}

.product__detail {
    width: 65%;
    padding: 20px;
}

.product__detail>* {
    padding: 5px;
}

.product__detail h3 {
    color: var(--primary-color);
    font-size: 2em;
    font-weight: bold;
}

.product__detail .price {
    color: var(--primary-color);
    font-size: 1.5em;
    font-weight: bold;
}

.product__detail ul {
    margin: 10px 0;
}
.product__detail img {
    width: 1em;
    margin: 3px;
    margin-bottom: 0;
}


.product__img img {
    width: 100%;
    object-fit: cover;
    background-color: var(--white);
    border: 1px solid #ddd;
}

.product__img img:hover {
    border: 2px solid var(--primary-color);
}

.sub-img.active img {
    border: 2px solid var(--primary-color);
}

/* end product */
.main__slider-item img {
    width: 100px;
    height: 100px;
}

.main__slider-container {
    justify-content: space-around;
    position: relative;
    margin: 0 auto;
}

.main__slider-item {
    display: none;
    color: var(--primary-color);
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

.main__slider-item.active {
    display: block;
}

.main__slider-prev,
.main__slider-next {
    cursor: pointer;
    position: absolute;
    color: var(--primary-color);
    top: 40px;
    font-weight: bold;
    font-size: 2.5em;
    user-select: none;

}

.main__slider-prev {
    left: 10px;
}

.main__slider-next {
    right: -10px;
}

h3{
    padding: 10px;
    font-size: 2em;
    color: var(--primary-color);
}

@media only screen and (max-width: 739px){
    .product{
        flex-direction: column-reverse;
    }

    .product>div{
        width: 100%;
    }
  }